.banner {
  background-image: url(https://images.unsplash.com/photo-1461749280684-dccba630e2f6?q=80&w=2338&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  padding-block: 100px;
  padding-inline: 12px;
  color: white;
  background-size: cover;
}
